@font-face {
    font-family: "healing";
    font-weight: 500;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/healing/healing-Medium.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/healing/healing-Medium.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/healing/healing-Medium.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/healing/healing-Medium.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/healing/healing-Medium.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "healing";
    font-weight: 700;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/healing/healing-Bold.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/healing/healing-Bold.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/healing/healing-Bold.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/healing/healing-Bold.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/healing/healing-Bold.ttf") format("truetype");
    font-display: swap;
}
.healing {
    font-family: "healing";
}
.healing500 {
    font-family: "healing";
    font-weight: 500;
}
.healing700 {
    font-family: "healing";
    font-weight: 700;
}